<html>
    <head>
        <title>Productos</title>
    </head>
    <body>
        <h1>El producto seleccionado es:</h1>
        Objecto Id: {{ id }}<br/>
        Id del producto: {{ product }}<br/>
        Producto: {{ name }} <br/>
        Precio: {{ price }} <br/>
        Longitud: {{ long }}
    </body>
</html>

